extends ../layout

block content
	.row-fluid
		.span12
			.well
				h1 Detailed Conference Totals
				h3 Membership
				p Total Attending: #{totals.members.youth + totals.members.youngAdults + totals.members.chaperones}
				p Total Youth: #{totals.members.youth}
				p Total Young Adults: #{totals.members.youngAdults}
				p Total Chaperones: #{totals.members.chaperones}
				p Youth / Chaperone: #{totals.members.youth / totals.members.chaperones} (Must be less then 5)

				h3 Youth In Care
				p Not Attending: #{totals.members.youthInCare.notAttending}
				p Attending on Own: #{totals.members.youthInCare.attendingOnOwn}
				p Attending with Support: #{totals.members.youthInCare.attendingWithSupport}
				p Attending as Support: #{totals.members.youthInCare.attendingAsSupport}
				p Projected Attendance: #{totals.members.youthInCare.attendingOnOwn + totals.members.youthInCare.attendingWithSupport + totals.members.youthInCare.attendingAsSupport}

				h3 Tickets
				p Total Earlybird Tickets: #{totals.tickets.early}
				p Total Regular Tickets: #{totals.tickets.reg}
				h3 Workshops
				p Avg # workshops / Member:  #{totals.workshops.avgPerMember} (Ideally between 4 and 8)
	.row-fluid
		.span12
			h1 Members Attending

			for group in groups
				h4= group.groupInformation.affiliation
				.pull-right
					a.btn.btn-primary(href="/admin/login/#{group._id}") Login
					a.btn.btn-info.notes(data-id="#{group._id}", href="#groupNotes", data-toggle="modal") Notes
					a.btn.btn-inverse(href="/admin/payments?group=#{group._id}") Payments
					a.btn(href="/admin/log?group=#{group._id}") Log
				.well
					table.table.table-hover
						thead
							tr
								td(style="width: 200px") Name
								td(style="width: 100px") Type
								td(style="width: 100px") YIC
								td Earlybird
								td
						tbody
							for member in group.groupMembers
								tr
									td= member.name
									td= member.type
									td
										if member.youthInCare != "Not Attending"
											.badge.badge-success Y
										else
											.badge N
									td
										if member.ticketPrice == 125
											a.btn.btn-success.btn-small(href="/api/member/setTicket?price=175&id=#{member._id}")
												i.icon-white.icon-flag
										else 
											a.btn.btn-small(href="/api/member/setTicket?price=125&id=#{member._id}")
												i.icon-flag