extends ../layout

block content
	.row-fluid
		.span12
			.well
				h3 Actions
				a.btn.btn-small.btn-block.btn-info(href="/admin/details") Detailed Conference Information
				a.btn.btn-small.btn-block.btn-success(href="/admin/workshopDetails") Detailed Workshop Information
				br
				.btn-group
					a.btn.btn-small(href="/admin/primaryEmailList") Primary Contact Email List
					a.btn.btn-small(href="/admin/allergies") Allergies / Med. Conditions
					a.btn.btn-small(href="/admin/yic") YIC Deets
	.row-fluid
		.span12
			h1 Groups
			table.table.table-hover
				thead
					tr
						th(style="width: 70px") Check in
						th(style="width: 70px") Wkshp in
						th Name
						th Info
						th Edit
						th
						th Delete
				tbody
					if groups
						for group in groups
							tr
								td
									if group.internal.checkedIn == true
										a.btn.btn-mini.btn-success.checkOut(data-id="#{group._id}")
											i.icon.icon-ok
									else
										a.btn.btn-mini.checkIn(data-id="#{group._id}")
											i.icon.icon-remove
								td
									if group.internal.workshopCheckedIn == true
										a.btn.btn-mini.btn-success.workshopCheckOut(data-id="#{group._id}")
											i.icon.icon-ok
									else
										a.btn.btn-mini.workshopCheckIn(data-id="#{group._id}")
											i.icon.icon-remove
								td
									// Group Badge
									if group.internal.status == "New group - Unchecked" || group.internal.status == "Edited - Unchecked" || group.internal.status == null
										span.badge.badge-important= group.groupMembers.length
									else if group.internal.status == "Group waiting for info"
										span.badge.badge-warning= group.groupMembers.length
									else if group.internal.status == "New group - Reviewed"
										span.badge= group.groupMembers.length
									else
										span.badge.badge-success= group.groupMembers.length
									// Group Affilation
									b #{group.groupInformation.affiliation}
									br
									small #{group._id} | #{group.primaryContact.email}
								td
									// Group Status
									if group.internal.status == "New group - Unchecked" || group.internal.status == "Edited - Unchecked" || group.internal.status == null
										span.label.label-important= group.internal.status
									else if group.internal.status == "Group waiting for info"
										span.label.label-warning= group.internal.status
									else if group.internal.status == "New group - Reviewed"
										span.label= group.internal.status
									else
										span.label.label-success= group.internal.status
									//
									br
									// Workshop Reg
									if group.internal.workshopReg == "Not sent"
										span.label Workshop Reg #{group.internal.workshopReg}
									else if group.internal.workshopReg == "Complete"
										span.label.label-success Workshop Reg #{group.internal.workshopReg}
									else if group.internal.workshopReg == "Sent"
										span.label.label-info Workshop Reg #{group.internal.workshopReg}
								td
									.btn-group
										a.btn.btn-primary(href="/admin/login/#{group._id}") Login
										a.btn.btn-info.notes(data-id="#{group._id}", href="#groupNotes", data-toggle="modal") Notes
										a.btn.btn-inverse(href="/admin/payments?group=#{group._id}") Payments
										a.btn(href="/admin/log?group=#{group._id}") Log
								td
								td
									a.btn.btn-danger(href="#", rel="tooltip", data-trigger="click", data-title="Are you sure?", data-content="You'll need to manually navigate to <a href='http://gatheringourvoices.bcaafc.com/api/removeGroup/#{group._id}'>this link</a>. Otherwise, click the button again to leave this area.", data-html='true') Delete
						tr
							td
								a(href="/account/signup") Add a new group...
							td
								small This will log you out!

	.modal.hide.fade#groupNotes(tabindex='-1', role='dialog', aria-hidden='true')
		include elements/groupNotes.jade

	:coffeescript
		$('.btn-danger').popover()
		$('.btn-danger').click ->
			event.preventDefault()
		
		$('.checkIn').click ->
			event.preventDefault()
			# Can't use a query here because of google's QR code API
			$.post "/admin/checkIn/#{$(this).data('id')}", (data) ->
				location.reload()
				
		$('.checkOut').click ->
			event.preventDefault()
			# Can't use a query here because of google's QR code API
			$.post "/admin/checkOut/#{$(this).data('id')}", (data) ->
				location.reload()

		$('.workshopCheckIn').click ->
			event.preventDefault()
			# Can't use a query here because of google's QR code API
			$.post "/admin/workshopCheckIn/#{$(this).data('id')}", (data) ->
				location.reload()
				
		$('.workshopCheckOut').click ->
			event.preventDefault()
			# Can't use a query here because of google's QR code API
			$.post "/admin/workshopCheckOut/#{$(this).data('id')}", (data) ->
				location.reload()

	!= js('admin/main')