extends ../layout-letter

block content
	.row-fluid
		address
			strong #{payment.group.primaryContact.name}
			br
			strong #{payment.group.groupInformation.affiliation}
			br
			| #{payment.group.groupInformation.address}
			br
			| #{payment.group.groupInformation.city}, #{payment.group.groupInformation.province}
			br
			| #{payment.group.groupInformation.postalCode}
			br
			br
			| #{payment.group.primaryContact.phone}
			br
			| #{payment.group.groupInformation.fax}
			br
			| #{payment.group.primaryContact.email}
		br
		h4 RE: Receipt for Credit Card Payment of Delegate Registration Fees – GOV 2013
		br
		p Dear #{payment.group.primaryContact.name},
		p Please find enclosed a receipt for your Credit Card payment of $#{payment.earlyTickets * 125 + payment.regTickets * 175} for #{payment.earlyTickets + payment.regTickets} Delegate Registration Fees for Gathering Our Voices in Penticton, BC.  If you have any questions or concerns, please do not hesitate to contact me.
		p In Friendship,
		br
		br
		p Siku Allooloo
		p Youth Conference Registration Coordinator

	:coffeescript
		$ ->
			window.print()