extends ../layout

block content
	.row-fluid
		.span12
			.well
				h1 Detailed Conference Totals
				p People in Workshops: #{stats.peopleInWorkshops}

			for workshop in workshops
				h4
					.badge= workshop.session
					|   #{workshop.name}
				.pull-right
					a.btn.btn-info(href="/api/workshop/get?workshop=#{workshop._id}") View Workshop Info Page
				.well
					p Host: #{workshop.host}
					h5 Members
					table.table.table-hover
						thead
							tr
								th Name
								th Type
								th BirthDate
								th Group
								th Actions
						tbody
							for member in workshop.signedUp
								tr
									td= member.name
									td= member.type
									td= member.birthDate
									td #{member.groupName}
										br
										small #{member.groupEmail}
									td
										a.btn.btn-small.btn-danger(href="/api/workshop/attendees/remove?member=#{member._id}&workshop=#{workshop._id}") Remove