extends ../layout-letter

block content
	img.qr( src="https://chart.googleapis.com/chart?cht=qr&chl=http://gatheringourvoices.bcaafc.com/admin/checkIn/#{group._id}&choe=UTF-8&chs=200x200", style="top: 20px; position: absolute; right: 0px")
	// Print pages only have an 8 span.
	.row-fluid
		h3 #{group.groupInformation.affiliation}
	.row-fluid
		.span6
			address
				strong #{group.primaryContact.name}
				br
				| #{group.groupInformation.address}
				br
				| #{group.groupInformation.city}, #{group.groupInformation.province}
				br
				| #{group.groupInformation.postalCode}
				br
				| #{group.primaryContact.phone}
				br
				| #{group.groupInformation.fax}
				br
				| #{group.primaryContact.email}
				br
		.span6
				br
				| Total: $#{group.total()}
				br
				| Paid: $#{group.paid}
				br
				| Method: #{group.groupInformation.paymentType}
				br
				br
				| Youth: #{group.numbers.youth}
				br
				| Young Adults: #{group.numbers.youngAdults}
				br
				| Chaperones: #{group.numbers.chaperones}
	.row-fluid
		h4 Payments
		table.table.table-striped
			thead
				tr
					th Date
					th Earlybird ($125)
					th Regular ($175)
					th Notes
			tbody
				if group.payments
					for payment in group.payments
						tr
							td= payment.date.toDateString()
							td= payment.earlyTickets
							td= payment.regTickets
							td= payment.paypal
			
	.row-fluid
		.span12
			table.table.table-striped
				thead 
					tr
						th(style="width: 30%") Name
						th(style="width: 20%") BirthDate
						th(style="width: 20%") Med Num
						th(style="width: 30%") Emergency
						th(style="width: 40%")
				tbody
					for member in group.groupMembers
						tr
							td #{member.name}
							td #{member.birthDate}
							td #{member.emergencyInfo.medicalNum}
							td(rowspan=1)
								| Name: #{member.emergencyInfo.name}
								br
								| Relation: #{member.emergencyInfo.relation}
								br
								| Phone: #{member.emergencyInfo.phone}
						tr
							td
								| Phone: #{member.phone}
								br
								| Type: #{member.type}
								br
								| Ticket Price: #{member.ticketPrice}
							td(colspan=3)
								if member.workshops.length >= 1
									table
										thead
											tr
												th Workshop Name
												th Session
												th Room
												th Venue
										tbody
											for workshop in workshops
												if member.workshops.indexOf(workshop._id) != -1
													tr
														td= workshop.name
														td= workshop.session
														td= workshop.room
														td= workshop.venue
								else
									p No workshops signed up!



		
	:coffeescript
		$ ->
			window.print()