// This is the --inside-- of a model used in /admin/index.
form#workshops.form-horizontal(action="/api/editWorkshop", method='post', style="margin-bottom: 0px")
	// Initialize to an empty workshop.
	- var workshop = workshop || {}
	.modal-header
		.close(data-dismiss='modal', aria-hidden='true')
			| x
		h3#workshopLabel Workshop
	.modal-body
		div(style="display: none")
			input#workshopId(type='text', name='id', value="#{workshop._id || 'new'}")
		// Member Info
		fieldset
			legend Information
			.control-group
				label.control-label Name
				.controls
					input(type='text', name='name', required, value="#{workshop.name || ''}")
			.control-group
				label.control-label Host
				.controls
					input(type='text', name='host', required, value="#{workshop.host || ''}")
			.control-group
				label.control-label Description
				.controls
					textarea(type='text', name='description', cols="5", rows="5", required)
						| #{workshop.description || ''}
			.control-group
				label.control-label Day
				.controls
					select(name='day', required)
						option(value='') Select a value...
						option(value='March 20, 2013', selected=(workshop.day == 'March 20, 2013')) Wednesday the 20th
						option(value='March 21, 2013', selected=(workshop.day == 'March 21, 2013')) Thursday the 21st
			.control-group
				label.control-label Start Time
				.controls
					.input-append
						if workshop.timeStart
							input(type='text', name='timeStart', required, value="#{workshop.timeStart.toLocaleTimeString() || ''}")
						else
							input(type='text', name='timeStart', required, value="#{''}")
						span.add-on
							i.icon-time
			.control-group
				label.control-label End Time
				.controls
					.input-append
						if workshop.timeEnd
							input(type='text', name='timeEnd', required, value="#{workshop.timeEnd.toLocaleTimeString() || ''}")
						else
							input(type='text', name='timeEnd', required, value="#{''}")
						span.add-on
							i.icon-time
			.control-group
				label.control-label Session
				.controls
					input(type='number', name='session', required, value="#{workshop.session || ''}")
			.control-group
				label.control-label Room
				.controls
					input(type='text', name='room', required, value="#{workshop.room || ''}")
			.control-group
				label.control-label Venue
				.controls
					input(type='text', name='venue', required, value="#{workshop.venue || ''}")
			.control-group
				label.control-label Capacity
				.controls
					input(type='number', name='capacity', required, value="#{workshop.capacity || ''}")

	.modal-footer
		button.btn(data-dismiss='modal', aria-hidden='true') Cancel
		input.btn.btn-primary(type='submit', value='Submit')