extends templates/layout

block content
  if !session.group._state.enoughChaperones
    #alert.alert.alert-danger You don't have enough Chaperones to support all of your youth. Please find some more!
  #listing.container
    p.text-muted If this is your first time at Gathering Our Voices, or you'd like a refresher on attendee specifics, please check our FAQ
      a(href="/faq#attendees")  here.
    .row
      .table-responsive
        table.table.table-striped
          thead
            tr
              th Name
              th Type
              th Ticket
              th 
                | Information
                br
                small.text-muted Click to edit!
              th 
                | Workshops
                br
                small.text-muted Click to view!
              th 
                | Remove
                br
                small.text-muted Allow?
                button#allowRemove.btn.btn-xs.btn-link
                  .fa.fa-times-circle
          tbody
            if members.length > 0
              - var counts = [ 0, 0, 0, 0 ]
              for member in members
                tr
                  td= member.name
                  td
                    case member.type
                      when "Youth"
                        .label.label-info Y
                        - counts[0] += 1
                      when "Young Adult"
                        .label.label-success YA
                        - counts[1] += 1
                      when "Young Chaperone"
                        .label.label-warning YC
                        - counts[2] += 1
                      when "Chaperone"
                        .label.label-danger Ch
                        - counts[3] += 1
                      default
                        .label.label-default NA
                  td
                    .label.label-default= member._state.ticketType
                  td
                    if member._state.complete
                      a.edit.btn.btn-xs.btn-success.tooltipped(data-id=member._id, data-toggle="collapse") Complete 
                    else
                      a.edit.btn.btn-xs.btn-danger.tooltipped(data-id=member._id, data-toggle="collapse") Incomplete
                  td
                    if member._workshops.length >= 4
                      a.memberWorkshops.btn.btn-xs.btn-success.tooltipped(data-toggle="collapse", data-id="#{member._id}") 4+ Workshops
                    else if member._workshops.length >= 1
                      a.memberWorkshops.btn.btn-xs.btn-warning.tooltipped(data-toggle="collapse", data-id="#{member._id}") 1+ Workshops
                    else
                      a.memberWorkshops.btn.btn-xs.btn-default.tooltipped(data-toggle="collapse", data-id="#{member._id}") No Workshops!
                  td
                    form(method="POST", action="/member/#{member._id}")
                      input(type="hidden", name="_method", value="delete")
                      button.removeButton.btn.btn-xs.btn-danger.tooltipped(disabled,data-toggle="tooltip", title="There is no undo!")
                        i.fa.fa-trash-o
                        |  Delete
              tr
                td(colspan="2") 
                  b.lead Totals
                td 
                  .label.label-info Y
                  |  Youth: #{counts[0]}
                td 
                  .label.label-success YA
                  |  Young Adults: #{counts[1]}
                td 
                  .label.label-warning YC
                  |  Young Chaperones: #{counts[2]}
                td 
                  .label.label-danger Ch
                  |  Chaperones: #{counts[3]} 
            else
              tr
                td.warning(colspan="6") You currently don't have any members. To add members, please hit the big green "Add a member" button.
    #controls
      .row(style="text-align: center")
        .col-sm-4(style="padding-top: 15px")
          a#add.btn.btn-success(data-toggle="collapse") 
            .fa.fa-plus
            |  Add a member
        
        .col-sm-4(style="padding-top: 15px")
          a#group.btn.btn-info(data-toggle="collapse") 
            .fa.fa-edit
            |  Edit Group Details
        .col-sm-4(style="padding-top: 15px")
          a#payment.btn.btn-primary(data-toggle="collapse")
            .fa.fa-money
            |  Manage Payments
  br
  #panels.panel-group
    .panel
      #member.collapse.container
        include templates/member.jade

    .panel
      #details.collapse.container
        form(action="/account", method="POST")
          input(type="hidden", name="_method", value="put")
          fieldset
            legend(style="text-align: center") Login Details
            p(style="text-align: center") Please don't fill in the password unless you intend to change it!
            .row
              .col-sm-2
              .col-sm-4
                .form-group
                  label Email
                  input.form-control(type="email", name="email", placeholder="someone@somewhere.ca", value="#{session.group.email}", required)
              .col-sm-4
                .form-group
                  label Password
                  input.form-control(type="password", name="password", placeholder="°°°°°°°°")
                .form-group
                  label Password Confirm
                  input.form-control(type="password", name="passwordConfirm", placeholder="°°°°°°°°")
          fieldset
            legend(style="text-align: center") Group Details
            .row
              .col-sm-2
              .col-sm-4
                .form-group
                  label Primary Contact Name
                  input.form-control(type="text", name="name", placeholder="Foo Bar", value="#{session.group.name}", required)
                .form-group
                  label Affiliation
                  input.form-control(type="text", name="affiliation", placeholder="Some Organization", value="#{session.group.affiliation}", required)
                .form-group
                  label Street Address
                  input.form-control(type="text", name="address", placeholder="123 Fake St.", value="#{session.group.address}", required)
                .form-group
                  label City
                  input.form-control(type="text", name="city", placeholder="Vancouver", value="#{session.group.city}", required)
                .form-group
                  label Region*
                  select.form-control(name="region", required)
                    option(value="", selected=session.group.region == "") Please choose...
                    option(value="North", selected=session.group.region == "North") North
                    option(value="Interior", selected=session.group.region == "Interior") Interior
                    option(value="Fraser", selected=session.group.region == "Fraser") Fraser
                    option(value="Vancouver Coastal", selected=session.group.region == "Vancouver Coastal") Vancouver Coastal
                    option(value="Vancouver Island", selected=session.group.region == "Vancouver Island") Vancouver Island
                    option(value="Out of Province", selected=session.group.region == "Out of Province") Out of Province
              .col-sm-4
                .form-group
                  label Province
                  select.form-control(name="province", required)
                    option(value="", selected=session.group.province == "") Please choose...
                    option(value="British Columbia", selected=session.group.province == "British Columbia") British Columbia
                    option(value="Alberta", selected=session.group.province == "Alberta") Alberta
                    option(value="Saskatchewan", selected=session.group.province == "Saskatchewan") Saskatchewan
                    option(value="Manitoba", selected=session.group.province == "Manitoba") Manitoba
                    option(value="Ontario", selected=session.group.province == "Ontario") Ontario
                    option(value="Quebec", selected=session.group.province == "Quebec") Quebec
                    option(value="New Brunswick", selected=session.group.province == "New Brunswick") New Brunswick
                    option(value="Nova Scotia", selected=session.group.province == "Nova Scotia") Nova Scotia
                    option(value="Prince Edward Island", selected=session.group.province == "Prince Edward Island") Prince Edward Island
                    option(value="Newfoundland and Labrador", selected=session.group.province == "Newfoundland and Labrador") Newfoundland and Labrador
                    option(value="Nunavut", selected=session.group.province == "Nunavut") Nunavut
                    option(value="Northwest Territories", selected=session.group.province == "Northwest Territories") Northwest Territories
                    option(value="Yukon", selected=session.group.province == "Yukon") Yukon
                    option(value="Other (Outside Canada)", selected=session.group.province == "Other (Outside Canada)") Other (Outside Canada)
                .form-group
                  label Postal Code
                  input.form-control(type="text", name="postalCode", placeholder="A1B 2C3", value="#{session.group.postalCode}", required)
                .form-group
                  label Daytime Phone #
                  input.form-control(type="text", name="phone", placeholder="(123) 456-7980", value="#{session.group.phone}", required)
                .form-group
                  label Fax # (Optional)
                  input.form-control(type="text", name="fax", placeholder="(123) 456-7890", value="#{session.group.fax}")
                .form-group
                  label Group Type*
                  select.form-control(name="affiliationType", required)
                    option(value="", selected=session.group.affiliationType == "") Please Choose...
                    option(value="Friendship Centre", selected=session.group.affiliationType == "Friendship Centre") Friendship Centre
                    option(value="Off-reserve", selected=session.group.affiliationType == "Off-reserve") Off-reserve
                    option(value="On-reserve", selected=session.group.affiliationType == "On-reserve") On-reserve
                    option(value="Other", selected=session.group.affiliationType == "Other") Other
          .row
            .col-sm-4
            .form-group.col-sm-4
              button.btn.btn-primary.btn-block(type="submit")
                i.fa.fa-edit
                |  Update Details
    .panel
      #payments.collapse.container
    .panel
      #memberWorkshops.collapse.container
  :coffee
    $("#allowRemove").click ->
      state = $('.removeButton').attr('disabled')
      $('.removeButton').attr('disabled', !state)
    $(".tooltipped").tooltip()
    $("a.edit").click ->
      $("#panels .in").collapse('hide')
      $.get "/member?id=#{$(this).data("id")}", (data) =>
        $("#member").html(data).collapse('show').one 'shown.bs.collapse', () ->
          $(document).scrollTop( $("#member").offset().top )
    $("a#add").click ->
      $("#panels .in").collapse('hide')
      $.get "/member", (data) =>
        $("#member").html(data).collapse('show').one 'shown.bs.collapse', () ->
          $(document).scrollTop( $("#member").offset().top )
    $("a#payment").click -> 
      $("#panels .in").collapse('hide')
      $.get "/payments", (data) =>
        $("#payments").html(data).collapse('show').one 'shown.bs.collapse', () ->
          $(document).scrollTop( $("#payments").offset().top )
    $("a#group").click -> 
      $("#panels .in").collapse('hide')
      $("#details").collapse('show').one 'shown.bs.collapse', () ->
        $(document).scrollTop( $("#details").offset().top )
    $("a.memberWorkshops").click -> 
      $("#panels .in").collapse('hide')
      $.get "/member/workshops?id=#{$(this).data("id")}", (data) =>
        $("#memberWorkshops").html(data).collapse('show').one 'shown.bs.collapse', () ->
          $(document).scrollTop( $("#memberWorkshops").offset().top )