extends templates/layout

block content
  .container
    .row
      .table-responsive
        table.table.table-striped
          thead
            tr
              //- Checked in?
              th Checkin
              //- Enough Chaperones? 
              th Chaperones
              th Affiliation
              th Phone #
              //- Reserved for Coordinators to declare what they want.
              th Registration
              th Workshops
              //- Actions
              th
          tbody
            for group in groups
              tr
                td
                  if group._state.checkedIn
                    .label.label-success
                      .icon-check
                  else
                    .label.label-default
                      .icon-remove
                  if group._state.payment != "Recieved"
                    .label.label-danger
                      .icon-exclamation
                td
                  case group._state.enoughChaperones
                    when true
                      .label.label-success 
                        .icon-check
                    when false
                      .label.label-danger
                        .icon-remove
                td #{group.affiliation}
                  .text-muted #{group.name}
                td= group.phone
                td
                  case group._state.registration
                    when "Unchecked"
                      .label.label-danger Unchecked
                    when "New Members"
                      .label.label-warning New Members
                    when "Reviewed"
                      .label.label-success Reviewed
                    default
                      .label.label-default N/A (old entry)
                td
                  case group._state.workshops
                    when "Not Contacted"
                      .label.label-danger Not Contacted
                    when "Needs Help"
                      .label.label-warning Needs Help
                    when "Group Ok"
                      .label.label-success Group Ok
                    default
                      .label.label-default N/A (old entry)
                td
                  .btn-group
                    a.btn.btn-sm.btn-info(href="/notes/#{group._id}")
                      .fa.fa-file
                      |  Notes
                    a.btn.btn-sm.btn-primary(href="/manage/#{group._id}")
                      .fa.fa-edit
                      |  Manage

