extends templates/layout

block content
  .container
    .row
      .table-responsive
        table.table.table-striped
          thead
            tr
              //- Checked in?
              th Checkin
              //- Enough Chaperones? 
              th Chaperones
              th Affiliation
              th Phone #
              //- Reserved for Coordinators to declare what they want.
              th Registration
              th Workshops
              //- Actions
              th
          tbody
            for group in groups
              tr
                td
                  if group._state.checkedIn
                    .label.label-success
                      .icon-check
                  else
                    .label.label-default
                      .icon-remove
                td
                  case group._state.enoughChaperones
                    when true
                      .label.label-success 
                        .icon-check
                    when false
                      .label.label-danger
                        .icon-remove
                td #{group.affiliation}
                  .text-muted #{group.name}
                td= group.phone
                td
                  case group._state.registration
                    when "New group - Unchecked"
                      .label.label-danger New group - Unchecked
                    when "New group - Reviewed"
                      .label.label-warning New group - Reviewed
                    when "Group waiting for info"
                      .label.label-default Group waiting for info
                    when "Group - Complete"
                      .label.label-success Group - Complete
                td
                  case group._state.workshops
                    when "Not sent"
                      .label.label-danger Not sent
                    when "Sent"
                      .label.label-default Sent
                    when "Complete"
                      .label.label-success Complete
                td
                  .btn-group
                    a.btn.btn-sm.btn-info(href="/notes/#{group._id}")
                      .icon-file
                      |  Notes
                    a.btn.btn-sm.btn-primary(href="/manage/#{group._id}")
                      .icon-edit
                      |  Manage

