!!! 5
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=1024, user-scalable=no')
		title Deck
		// Required stylesheet 
		link(rel='stylesheet', href='deck/core/deck.core.css')
		// Extension CSS files go here. Remove or add as needed. 
		link(rel='stylesheet', href='deck/extensions/goto/deck.goto.css')
		link(rel='stylesheet', href='deck/extensions/menu/deck.menu.css')
		link(rel='stylesheet', href='deck/extensions/navigation/deck.navigation.css')
		link(rel='stylesheet', href='deck/extensions/status/deck.status.css')
		link(rel='stylesheet', href='deck/extensions/automatic/deck.automatic.css')
		link(rel='stylesheet', href='deck/extensions/hash/deck.hash.css')
		link(rel='stylesheet', href='deck/extensions/scale/deck.scale.css')
		// Style theme. More available in /themes/style/ or create your own. 
		//link(rel='stylesheet', href='deck/themes/style/sandstone.firefox.css')
		// Transition theme. More available in /themes/transition/ or create your own. 
		link(rel='stylesheet', href='deck/themes/transition/vertical-slide.css')

		// Required Modernizr file 
		script(src='deck/modernizr.custom.js')

		// CSS Stuff
		link(href="//netdna.bootstrapcdn.com/bootswatch/2.1.1/united/bootstrap.min.css", rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css", rel="stylesheet")

		style
			.deck-container .slide h2 {
				text-overflow: ellipsis;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				overflow: hidden;
			}

			.deck-container .slide p {
				text-overflow: ellipsis;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				-webkit-line-clamp: 8;
				overflow: hidden;
			}

	body.deck-container
		// Begin slides. Just make elements with a class of slide.
		for workshopSet in workshopSets
			section.slide.container-fluid(data-duration="15000")
				for workshop in workshopSet
					.row-fluid
						.span12
							h3= workshop.name
					.row-fluid
						.span4
							p Host: #{workshop.host}
						.span2
							p Session:
							h4(style="text-align:center") #{workshop.session}
						.span3
							p Venue: #{workshop.venue}
						.span3
							p Room: #{workshop.room}
					.row-fluid
						.span2.offset4
							p Day: #{workshop.day}
						.span4
							p Time: #{workshop.timeStart.toLocaleTimeString()} - #{workshop.timeEnd.toLocaleTimeString()}
					.row-fluid
						.span2.offset4
							p Capacity: #{workshop.signedUp.length} / #{workshop.capacity}
						.span6
							.progress
								if workshop.signedUp.length >= workshop.capacity
									.bar.bar-danger(style="width: #{(workshop.signedUp.length / workshop.capacity) * 100 + '%'} ")
								else if workshop.signedUp.length >= workshop.capacity / 2
									.bar.bar-success(style="width: #{(workshop.signedUp.length / workshop.capacity) * 100 + '%'} ")
								else
									.bar(style="width: #{(workshop.signedUp.length / workshop.capacity) * 100 + '%'} ")
						br
						hr

		// End slides. 
		// Begin extension snippets. Add or remove as needed. 
		// deck.navigation snippet 
		a.deck-prev-link(href='#', title='Previous') ←
		a.deck-next-link(href='#', title='Next') →
		// deck.status snippet 
		p.deck-status
			span.deck-status-current
			| /
			span.deck-status-total
		// deck.goto snippet 
		form.goto-form(action='.', method='get')
			label(for='goto-slide') Go to slide:
			input#goto-slide(type='text', name='slidenum', list='goto-datalist')
			datalist#goto-datalist
			input(type='submit', value='Go')
		// deck.hash snippet 
		a.deck-permalink(href='.', title='Permalink to this slide') #
	
		.deck-automatic-link(title="Play/Pause") Play/Pause
	
		// End extension snippets. 
		// Required JS files. 
		script(src='deck/jquery-1.7.2.min.js')
		script(src='deck/core/deck.core.js')
		// Extension JS files. Add or remove as needed. 
		script(src='deck/core/deck.core.js')
		script(src='deck/extensions/hash/deck.hash.js')
		script(src='deck/extensions/menu/deck.menu.js')
		script(src='deck/extensions/goto/deck.goto.js')
		script(src='deck/extensions/automatic/deck.automatic.js')
		script(src='deck/extensions/status/deck.status.js')
		script(src='deck/extensions/navigation/deck.navigation.js')
		script(src='deck/extensions/scale/deck.scale.js')
		// Initialize the deck. You can put this in an external file if desired. 
		script
			$(function() {
				$.deck('.slide');
			});
		:coffeescript
			$(document).bind 'deck.change', (event, from, to) ->
				if from is $('.deck-status-total').text() - 1
					location.reload()
