extends templates/layout

block content
  .container
    p.text-muted(style="text-align: center;") If this is your first time at Gathering Our Voices, or you'd like a refresher on the workshop schedule, please check our FAQ
      a(href="/faq#workshops")  here.
    #listing.row
      .table-responsive
        table.table.table-striped
          thead
            tr
              th.col-sm-2 Name
              th.col-sm-1 Host
              th(style="width: 170px") Sessions
              th(style="width: 80px") Allows
              th Description
              th 
          tbody
            if workshops.length == 0
              tr
                td.lead(colspan='6') Please check back in early February! We haven't confirmed our schedule yet with our Facilitators quite yet.
            else
              for workshop in workshops
                tr
                  td= workshop.name
                  td= workshop.host
                  td
                    for session in workshop.sessions
                      if session.capacity == session._registered.length
                        //- Full?
                        .label.label-default= session.session
                        |  
                      else if session.capacity * .75 <= session._registered.length
                        //- 2/3's full?
                        .label.label-danger= session.session
                        |  
                      else if session.capacity * .5 <= session._registered.length
                        //- Half hull?
                        .label.label-warning= session.session
                        |  
                      else 
                        .label.label-success= session.session
                        |  
                  td
                    if workshop.allows.indexOf("Youth") != -1
                      .label.label-info.tooltipped(data-toggle="tooltip", title="Youth") Y
                      |  
                    if workshop.allows.indexOf("Young Adult") != -1
                      .label.label-success.tooltipped(data-toggle="tooltip", title="Young Adult") YA
                      |  
                    if workshop.allows.indexOf("Young Chaperone") != -1
                      .label.label-warning.tooltipped(data-toggle="tooltip", title="Young Chaperone") YC
                      |  
                    if workshop.allows.indexOf("Chaperone") != -1
                      .label.label-danger.tooltipped(data-toggle="tooltip", title="Chaperone") Ch
                      |  
                  if workshop.description.length > 120
                    td= workshop.description.substr(0,120) + "..."
                  else
                    td= workshop.description
                  td
                    a.btn.btn-sm.btn-info.btn-block(href="/workshop/#{workshop._id}")
                      i.fa.fa-calendar
                      |  Schedule
                    if session.isAdmin
                      a.edit.btn.btn-sm.btn-primary.btn-block(data-id="#{workshop._id}")
                        i.fa.fa-edit
                        |  Edit

    #query
      form.form-horizontal
        .row
          .col-sm-5
            .form-group
              label Find: (In description)
              input.form-control(type="text", name="query", placeholder="(Optional) Enter a query here. For example 'basket'")
          .col-sm-2
          .col-sm-5
            .form-group
              label Sessions: (Comma seperate)
              input.form-control(type="text", name="sessions", placeholder="(Optional) Comma seperated list of sessions. Eg. 1,2,3")
        .row
          .col-sm-12
            button.btn.btn-primary.btn-block(type="submit")
              i.fa.fa-search
              |  Search
          if session.isAdmin
            .col-sm-12
              a.btn.btn-info.btn-block(data-toggle="collapse", href="#admin") 
                i.fa.fa-plus
                |  Add Workshop

    :coffee
      $('.tooltipped').tooltip()
      
    if session.isAdmin
      .row
        .panel-group
          .panel
            #admin.collapse
              include templates/workshopForm
      :coffee
        $("a.edit").click ->
          $.get "/workshop?id=#{$(this).data('id')}", (data) =>
            $("#admin").html(data).collapse('show')