h3 Disclaimer
p The status of your payment as presented below will be updated as we receive, process and confirm payments arriving at our office. Due to the volume of payments being processed, there can be a slight delay in updating your payment information. If you are concerned that there is any discrepancy in this information, please call Siku Allooloo, Conference Registration Coordinator at 250-388-5522.

h2 Billing Status
b Your current group total: 
| $ #{billing.total}
br
b Your group has paid: 
| $ #{billing.regPaid * 175 + billing.earlyPaid * 125}
br
b Balance: 
| $ #{billing.total - (billing.regPaid * 175 + billing.earlyPaid * 125)}

h2 Breakdown
b Number of Earlybird Tickets:
.badge.badge-info #{billing.earlyTotal}
|  - 
.badge.badge-important #{billing.freeEarly}
|  = 
.badge.badge-info #{billing.earlyTotal - billing.freeEarly} @ $125
br
b Number of Regular Tickets:
.badge.badge-inverse #{billing.regTotal}
|  - 
.badge.badge-important #{billing.freeReg}
|  = 
.badge.badge-inverse #{billing.regTotal - billing.freeReg} @ $175
br
h2 Payment Information
p Please select your method of payment:
form.form-horizontal(action='/api/account/paymentType', method="POST")
	.control-group
		label.control-label Payment Type
		.controls
			select(name='paymentType', required)
				option(value='') Select a value...
				option(value='Cheque', selected=(group.groupInformation.paymentType == 'Cheque')) Cheque
				option(value='Money Order', selected=(group.groupInformation.paymentType == 'Money Order')) Money Order
				option(value='Please Invoice', selected=(group.groupInformation.paymentType == 'Please Invoice')) Please Invoice
				option(value='Credit Card', selected=(group.groupInformation.paymentType == 'Credit Card')) Credit Card
				option(value='Paypal', selected=(group.groupInformation.paymentType == 'Paypal')) Paypal
	.control-group
		.controls
			input.btn.btn-small.btn-primary(type="submit")


p Credit card payments (Visa or MasterCard only) can be made through Paypal: 
form.offset2(action="https://www.paypal.com/cgi-bin/webscr", method="post")
	input(type="hidden", name="cmd", value="_cart")
	input(type="hidden", name="upload", value="1")
	input(type="hidden", name="business", value="accounting@bcaafc.com")
	input(type="hidden", name="currency_code", value="CAD")
	input(type="hidden", name="undefined_quantity", value="1")
	
	input(type="hidden", name="no_note", value="0")
	input(type="hidden", name="cn", value="Please enter your Affiliation:")
	input(type="hidden", name="custom", value="#{group.groupInformation.affiliation} -- #{group._id}")

	if billing.earlyTotal - billing.earlyPaid - billing.freeEarly != 0 && billing.regTotal - billing.regPaid - billing.freeReg != 0
		input(type='hidden', name='item_name_1', value='GOV 2013 Registration (Early Bird)')
		input(type='hidden', name='quantity_1', value="#{billing.earlyTotal - billing.earlyPaid - billing.freeEarly}")
		input(type='hidden', name='amount_1', value='125')

		input(type='hidden', name='item_name_2', value='GOV 2013 Registration (Regular)')
		input(type='hidden', name='quantity_2', value="#{billing.regTotal - billing.regPaid - billing.freeReg}")
		input(type='hidden', name='amount_2', value='175')

	else if billing.earlyTotal - billing.earlyPaid - billing.freeEarly != 0
		input(type='hidden', name='item_name_1', value='GOV 2013 Registration (Early Bird)')
		input(type='hidden', name='quantity_1', value="#{billing.earlyTotal - billing.earlyPaid - billing.freeEarly}")
		input(type='hidden', name='amount_1', value='125')

	else if billing.regTotal - billing.regPaid - billing.freeReg != 0
		input(type='hidden', name='item_name_1', value='GOV 2013 Registration (Regular)')
		input(type='hidden', name='quantity_1', value="#{billing.regTotal - billing.regPaid - billing.freeReg}")
		input(type='hidden', name='amount_1', value='175')

	else
		p You don't have any payments to make yet!

	input.btn.btn-primary(type='submit', value="Pay via Paypal")

p For cheque or money order, please make the cheque or money order payable to BCAAFC and mail the payment to:
address.offset2
	strong BC Association of Aboriginal Friendship Centres
	br
	| Attn: Siku Allooloo, Youth Conference Registration Coordinator
	br
	| #200-506 Fort Street, Victoria BC V8W 1E6


h2 Payments
p The following is an approximate log of payments confirmed to this date. If there is a problem please contact us.

table.table.table-hover
	thead
		tr
			th Payment Date
			th Earlybird ($125)
			th Regular ($175)
	tbody
		if group.payments
			for payment in group.payments
				tr
					td= payment.date.toDateString()
					td= payment.earlyTickets
					td= payment.regTickets
		else
			tr
				td No payments yet!
