.container-fluid
	.row-fluid
		// Group Member Listing
		.span4
			h2 Members
			ul.nav.nav-tabs
				li.active
					a(href="#youth", data-toggle="tab") Youth
				li
					a(href="#youngAdults", data-toggle="tab") Young Adults
				li
					a(href="#chaperones", data-toggle="tab") Chaperones
			.tab-content(style="height: 200px;")
				.tab-pane.fade.active.in#youth
					table.table.table-hover
						thead
							tr
								th Name
								th Del
						tbody
							for member in group.youth
								tr
									td
										a.member(data-id="#{member._id}", data-type="youth")= member.name
									td
										button.btn.btn-small.btn-danger.delete(rel="tooltip", data-trigger="click", data-title="Are you sure?", data-content="You'll need to manually navigate to <a class='deleteConfirm' href='http://gatheringourvoices.bcaafc.com/api/removeMember/#{member.type}/#{member.name}/#{member._id}'>this link</a>. Otherwise, click the button again to leave this area.", data-html='true') x
				.tab-pane.fade#youngAdults
					table.table.table-hover
						thead
							tr
								th Name
								th Del
						tbody
							for member in group.youngAdults
								tr
									td
										a.member(data-id="#{member._id}", data-type="youngAdults")= member.name
									td
										button.btn.btn-small.btn-danger.delete(rel="tooltip", data-trigger="click", data-title="Are you sure?", data-content="You'll need to manually navigate to <a class='deleteConfirm' href='http://gatheringourvoices.bcaafc.com/api/removeMember/#{member.type}/#{member.name}/#{member._id}'>this link</a>. Otherwise, click the button again to leave this area.", data-html='true') x
					
				.tab-pane.fade#chaperones
					table.table.table-hover
						thead
							tr
								th Name
								th Del
						tbody
							for member in group.chaperones
								tr
									td
										a.member(data-id="#{member._id}", data-type="chaperones")= member.name
									td
										button.btn.btn-small.btn-danger.delete(rel="tooltip", data-trigger="click", data-title="Are you sure?", data-content="You'll need to manually navigate to <a class='deleteConfirm' href='http://gatheringourvoices.bcaafc.com/api/removeMember/#{member.type}/#{member.name}/#{member._id}'>this link</a>. Otherwise, click the button again to leave this area.", data-html='true') x
					
			hr
			a(href='#add', data-toggle="modal") Add New...
			p If editing the information for a registered member’s profile, it is required that you have  all of their information including their emergency contact.
		// Info on Selected Member
		.span8#memberInfo
			div(style="text-align:center; padding-top: 100px;")
				p.muted Please select a member from the list.

	script
		$('.delete').popover()
		$("a.deleteConfirm").click(function() {
				$(this).attr('href', 'javascript: void(0);')
			}
		)