if message
  p.alert.alert-warning= message
if session.group._members.length == 0
  p.text-muted There are no members in this group, you should add some first!
else
  .container
    br
    for member in session.group._members
      .row
        .col-xs-1
          span
            case member.type
              when "Youth"
                .label.label-info Y
              when "Young Adult"
                .label.label-success YA
              when "Young Chaperone"
                .label.label-warning YC
              when "Chaperone"
                .label.label-danger Ch
              default
                .label.label-default NA
        .col-xs-5
          b= member.name

        .col-xs-5
          -var conflicts = member.hasConflicts(workshop._id, workshopSession)
          if workshop.allows.indexOf(member.type) == -1
            .btn.btn-xs.btn-warning.btn-disabled.btn-block Ineligible
          else if workshop.session(workshopSession)._registered.indexOf(member._id) != -1
            a.remove.btn.btn-xs.btn-danger.btn-block(data-member="#{member._id}", data-workshop="#{workshop._id}", data-session="#{workshopSession}")
              .fa.fa-minus
              |  Remove Member
          else if !conflicts && member._state.complete
            a.add.btn.btn-xs.btn-success.btn-block(data-member="#{member._id}", data-workshop="#{workshop._id}", data-session="#{workshopSession}")
              .fa.fa-plus
              |  Add Member
          else if conflicts
            -var message = "The conflicting workshop is in session " + workshopSession
            a(href="/workshop/#{conflicts._id}?message=#{message}").btn.btn-xs.btn-warning.btn-disabled.btn-block View Conflict
          else
            a.btn.btn-xs.btn-default.btn-disabled.btn-block(href="/account") Complete Info
      br
    :coffee
      $(".remove").unbind("click").click ->
        console.log "Remove Clicked"
        member = $(this).data('member')
        workshop = $(this).data('workshop')
        session = $(this).data('session')
        $.get "/member/#{member}/del/#{workshop}/#{session}", (data) ->
          $("##{session}-attending").html(data)
      $(".add").unbind("click").click ->
        console.log "Add clicked"
        member = $(this).data('member')
        workshop = $(this).data('workshop')
        session = $(this).data('session')
        $.get "/member/#{member}/add/#{workshop}/#{session}", (data) ->
          console.log "#{session}-attending"
          $("##{session}-attending").html(data)
